* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
}

#start, #go-to {
    background-color: blue;
    margin: auto;
    padding: 15px 32px;
    font-size: 2vw;
    color: white;
}

#go-to {
    background-color: green;
}

.btn-start {
    display: flex;
    justify-content: center;
}

#welcome {
    margin: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

#scores {
    margin: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

a {
    font-size: 2vw;
    color: black;
    text-decoration: none;
}

#timer {
    float: right;
    font-size: 2.5vw;
}

button {
    border-radius: 8px;
}

h1 {
    text-align: center;
    font-size: 4vw;
}

textarea {
    width: 90%;
    margin: 20px;
}

#Submit {
    background-color: blue;
    margin: auto;
    padding: 15px 32px;
    font-size: 20px;
    color: white;
}

label {
    margin-right: 10px;
    padding-top: .5rem;
}

input {
    margin-bottom: 20px;
    
}

#topfive {
    margin: 10px 0px;
    cursor: default;
    font-size: 3vw;
    text-align: center;
}

#choice {
    background-color: blue;
    margin: 10px 0px;
    padding: 5px 15px;
    color: white;
    cursor: default;
    text-align: center;
}

#newDiv {
    width: 100%;
    text-align: center;
    margin-top: 2rem;
    font-size: 3vw;
}

#result, #correct, #incorrect {
    color: black;
    font-size: 3vw;
}

#correct {
    color: green;
}

#incorrect {
    color: red;
}

#home {
    background-color: green;
    padding: 10px;
    font-size: 20px;
    color: white;
    width: 45%;
}

#clear {
    background-color: red;
    padding: 10px;
    font-size: 20px;
    color: white;
    width: 45%;
}

main {
    padding: 0;
    margin: 0;
    display: flex;
    width: 100vw;
    height: 75vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#buttons {
    display: flex;
    justify-content: space-between;

}

#high-score {
    display: flex;
    flex-direction: column;
}

header {
    height: 5vw;
}

#instructions {
    text-align: center;
    font-size: 2vw;
}

ul {
    padding: 0;
}

.hide {
    opacity: 0;
}

.enter {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
}

#newP {
    text-align: center;
    font-size: 3vw;
}

#test {
    display: flex;
}

#btn-sub {
    display: flex;
    width: 25%;
}

#q-p {
    font-size: 2vw;
}